-- MariaDB dump 10.19  Distrib 10.4.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: custodian_db
-- ------------------------------------------------------
-- Server version	10.4.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action` varchar(255) DEFAULT NULL,
  `date_created` datetime DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_log`
--

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `archive_maintenance`
--

DROP TABLE IF EXISTS `archive_maintenance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `archive_maintenance` (
  `id` int(11) NOT NULL,
  `item_name` varchar(150) DEFAULT NULL,
  `office` varchar(150) DEFAULT NULL,
  `brand` varchar(100) DEFAULT NULL,
  `serial_number` varchar(100) DEFAULT NULL,
  `maintenance_code` varchar(50) DEFAULT NULL,
  `maintenance_task` text DEFAULT NULL,
  `frequency_days` int(11) DEFAULT NULL,
  `previous_maintenance_date` date DEFAULT NULL,
  `next_maintenance_date` date DEFAULT NULL,
  `days_before_due` int(11) DEFAULT NULL,
  `archived_at` timestamp NOT NULL DEFAULT current_timestamp()
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archive_maintenance`
--

LOCK TABLES `archive_maintenance` WRITE;
/*!40000 ALTER TABLE `archive_maintenance` DISABLE KEYS */;
/*!40000 ALTER TABLE `archive_maintenance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facility_header`
--

DROP TABLE IF EXISTS `facility_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facility_header` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `request_no` varchar(20) NOT NULL,
  `requesting_office` varchar(255) NOT NULL,
  `contact_no` varchar(15) NOT NULL,
  `address` varchar(255) NOT NULL,
  `date_of_filing` date NOT NULL,
  `event_name` varchar(255) NOT NULL,
  `num_participants` int(10) unsigned NOT NULL,
  `remarks` text DEFAULT NULL,
  `start_datetime` datetime NOT NULL,
  `end_datetime` datetime NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facility_header`
--

LOCK TABLES `facility_header` WRITE;
/*!40000 ALTER TABLE `facility_header` DISABLE KEYS */;
/*!40000 ALTER TABLE `facility_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facility_items`
--

DROP TABLE IF EXISTS `facility_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facility_items` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `facility_id` int(10) unsigned NOT NULL,
  `office_id` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `facility_id` (`facility_id`),
  CONSTRAINT `facility_items_ibfk_1` FOREIGN KEY (`facility_id`) REFERENCES `facility_header` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facility_items`
--

LOCK TABLES `facility_items` WRITE;
/*!40000 ALTER TABLE `facility_items` DISABLE KEYS */;
INSERT INTO `facility_items` VALUES (1,2,NULL),(3,5,20),(4,6,21);
/*!40000 ALTER TABLE `facility_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incident_items`
--

DROP TABLE IF EXISTS `incident_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incident_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `incident_id` int(11) NOT NULL,
  `property_id` int(11) NOT NULL,
  `serial_number` varchar(100) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `last_borrower` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `property_id` (`property_id`),
  CONSTRAINT `incident_items_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `tbl_property` (`property_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incident_items`
--

LOCK TABLES `incident_items` WRITE;
/*!40000 ALTER TABLE `incident_items` DISABLE KEYS */;
INSERT INTO `incident_items` VALUES (3,10,29,'','CSD Faculty','Linux B. Flores');
/*!40000 ALTER TABLE `incident_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incident_reports`
--

DROP TABLE IF EXISTS `incident_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incident_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `report_number` varchar(50) NOT NULL,
  `reported_by` varchar(150) NOT NULL,
  `office` varchar(150) NOT NULL,
  `incident_date` date NOT NULL,
  `incident_time` time NOT NULL,
  `description` text NOT NULL,
  `extent_of_damage` text NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `ris_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incident_reports`
--

LOCK TABLES `incident_reports` WRITE;
/*!40000 ALTER TABLE `incident_reports` DISABLE KEYS */;
INSERT INTO `incident_reports` VALUES (10,'IR-0002','Lea Hilario','4','2026-03-10','15:55:00','basag','buong screen','2026-03-10 14:56:16',NULL);
/*!40000 ALTER TABLE `incident_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_reports`
--

DROP TABLE IF EXISTS `maintenance_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `item_name` varchar(150) NOT NULL,
  `office` varchar(150) NOT NULL,
  `brand` varchar(100) NOT NULL,
  `serial_number` varchar(100) NOT NULL,
  `maintenance_code` varchar(50) NOT NULL,
  `maintenance_task` text NOT NULL,
  `frequency_days` int(11) NOT NULL,
  `previous_maintenance_date` date NOT NULL,
  `next_maintenance_date` date NOT NULL,
  `days_before_due` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_reports`
--

LOCK TABLES `maintenance_reports` WRITE;
/*!40000 ALTER TABLE `maintenance_reports` DISABLE KEYS */;
INSERT INTO `maintenance_reports` VALUES (1,'Aircon','4','LG','SN-20260310-0001','MC-2026-0001','Cleaning',180,'2026-03-10','2026-09-06',179,'2026-03-28 08:19:23'),(2,'Aircon','4','LG','SN-20260319-0001','MC-2026-0002','Cleaning',180,'2026-03-19','2026-09-15',179,'2026-03-28 08:14:08'),(3,'Aircon','4','LG','SN-20260310-0001','MC-2026-0003','Cleaning',180,'2026-03-19','2026-09-15',-1,'2026-03-19 07:07:37');
/*!40000 ALTER TABLE `maintenance_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ptr_header`
--

DROP TABLE IF EXISTS `ptr_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ptr_header` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ptr_no` varchar(50) DEFAULT NULL,
  `transfer_date` date DEFAULT NULL,
  `from_office` int(11) DEFAULT NULL,
  `to_office` int(11) DEFAULT NULL,
  `transferred_by` varchar(100) DEFAULT NULL,
  `received_by` varchar(100) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ptr_header`
--

LOCK TABLES `ptr_header` WRITE;
/*!40000 ALTER TABLE `ptr_header` DISABLE KEYS */;
INSERT INTO `ptr_header` VALUES (4,'PTR-20260310221500','2026-03-11',5,6,NULL,NULL,'');
/*!40000 ALTER TABLE `ptr_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ptr_items`
--

DROP TABLE IF EXISTS `ptr_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ptr_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ptr_id` int(11) DEFAULT NULL,
  `property_id` int(11) DEFAULT NULL,
  `inventory_no` varchar(100) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ptr_items`
--

LOCK TABLES `ptr_items` WRITE;
/*!40000 ALTER TABLE `ptr_items` DISABLE KEYS */;
INSERT INTO `ptr_items` VALUES (3,4,32,'KNS26-0011','table',1);
/*!40000 ALTER TABLE `ptr_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ris_header`
--

DROP TABLE IF EXISTS `ris_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ris_header` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `last_name` varchar(255) DEFAULT NULL,
  `first_name` varchar(225) DEFAULT NULL,
  `mi_name` varchar(11) DEFAULT NULL,
  `cp_number` int(11) NOT NULL,
  `position` varchar(225) NOT NULL,
  `event_name` varchar(255) NOT NULL,
  `event_date` date NOT NULL,
  `start_datetime` datetime NOT NULL,
  `end_datetime` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `processed` tinyint(1) DEFAULT 0,
  `is_returned` tinyint(1) NOT NULL DEFAULT 0,
  `return_date` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ris_header`
--

LOCK TABLES `ris_header` WRITE;
/*!40000 ALTER TABLE `ris_header` DISABLE KEYS */;
/*!40000 ALTER TABLE `ris_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ris_items`
--

DROP TABLE IF EXISTS `ris_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ris_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ris_id` int(11) NOT NULL,
  `property_id` int(11) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `borrowed_from` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ris_id` (`ris_id`),
  KEY `property_id` (`property_id`),
  KEY `borrowed_from` (`borrowed_from`),
  CONSTRAINT `fk_ris` FOREIGN KEY (`ris_id`) REFERENCES `ris_header` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ris_items_office_new` FOREIGN KEY (`borrowed_from`) REFERENCES `tbl_office` (`id`),
  CONSTRAINT `fk_ris_items_property_new` FOREIGN KEY (`property_id`) REFERENCES `tbl_property` (`property_id`),
  CONSTRAINT `fk_ris_items_ris_new` FOREIGN KEY (`ris_id`) REFERENCES `ris_header` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ris_items`
--

LOCK TABLES `ris_items` WRITE;
/*!40000 ALTER TABLE `ris_items` DISABLE KEYS */;
INSERT INTO `ris_items` VALUES (11,17,22,5,4),(14,20,29,1,4),(15,21,33,1,24),(16,22,33,1,24),(17,23,33,1,24),(18,24,33,1,24),(19,25,33,1,24),(20,26,33,1,24),(21,27,30,1,4),(22,28,30,1,4),(23,29,22,1,4),(24,30,22,1,4),(25,31,22,1,4),(26,32,22,1,4),(27,33,22,1,4),(28,34,22,2,4),(29,35,22,2,4),(30,36,22,2,4),(31,37,39,1,4),(32,38,22,1,4),(33,39,40,1,4),(34,40,41,1,4),(35,41,42,1,4),(36,42,38,1,4),(37,43,41,1,4),(38,44,43,1,4),(39,45,22,3,4),(40,46,42,1,4),(41,47,37,1,4),(42,48,30,1,4),(43,49,44,1,5);
/*!40000 ALTER TABLE `ris_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rse_header`
--

DROP TABLE IF EXISTS `rse_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rse_header` (
  `id` int(100) NOT NULL AUTO_INCREMENT,
  `request_no` varchar(200) NOT NULL,
  `requesting_office` varchar(100) NOT NULL,
  `contact_no` int(50) NOT NULL,
  `address` varchar(100) NOT NULL,
  `date_of_filing` date NOT NULL,
  `event_name` varchar(100) NOT NULL,
  `start_datetime` datetime NOT NULL,
  `end_datetime` datetime NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rse_header`
--

LOCK TABLES `rse_header` WRITE;
/*!40000 ALTER TABLE `rse_header` DISABLE KEYS */;
INSERT INTO `rse_header` VALUES (4,'20260310175118','JPCS',2147483647,'Wawandue Subic, Zambales','2026-03-11','kasal','2026-03-13 13:00:00','2026-03-14 13:00:00','2026-03-10 18:00:52'),(5,'20260311023928','CSD Faculty',2147483647,'Wawandue Subic, Zambales','2026-03-11','kasal','2026-03-12 09:39:00','2026-03-17 09:40:00','2026-03-11 02:40:27');
/*!40000 ALTER TABLE `rse_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rse_items`
--

DROP TABLE IF EXISTS `rse_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rse_items` (
  `id` int(100) NOT NULL AUTO_INCREMENT,
  `rse_id` int(11) NOT NULL,
  `property_id` int(11) NOT NULL,
  `quantity` int(100) NOT NULL DEFAULT 1,
  `borrowed_from` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_rse_id` (`rse_id`),
  KEY `fk_borrowed_from` (`borrowed_from`),
  KEY `fk_property_id` (`property_id`),
  CONSTRAINT `fk_borrowed_from` FOREIGN KEY (`borrowed_from`) REFERENCES `tbl_office` (`id`),
  CONSTRAINT `fk_property_id` FOREIGN KEY (`property_id`) REFERENCES `tbl_property` (`property_id`),
  CONSTRAINT `fk_rse_id` FOREIGN KEY (`rse_id`) REFERENCES `rse_header` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rse_items`
--

LOCK TABLES `rse_items` WRITE;
/*!40000 ALTER TABLE `rse_items` DISABLE KEYS */;
INSERT INTO `rse_items` VALUES (3,4,32,3,5),(4,5,33,3,24);
/*!40000 ALTER TABLE `rse_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_category`
--

DROP TABLE IF EXISTS `tbl_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_category` (
  `catid` int(11) NOT NULL AUTO_INCREMENT,
  `category` varchar(200) NOT NULL,
  PRIMARY KEY (`catid`)
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_category`
--

LOCK TABLES `tbl_category` WRITE;
/*!40000 ALTER TABLE `tbl_category` DISABLE KEYS */;
INSERT INTO `tbl_category` VALUES (89,'furniture'),(91,'ICT Equipment'),(93,'Office Equipment'),(94,'Office Supply'),(95,'Building & Infrastructure'),(97,'IT');
/*!40000 ALTER TABLE `tbl_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_disposal`
--

DROP TABLE IF EXISTS `tbl_disposal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_disposal` (
  `disposal_id` int(11) NOT NULL AUTO_INCREMENT,
  `property_id` int(11) NOT NULL,
  `office_id` int(11) DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `disposed_by` varchar(100) DEFAULT NULL,
  `disposed_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`disposal_id`),
  KEY `property_id` (`property_id`),
  KEY `office_id` (`office_id`),
  CONSTRAINT `tbl_disposal_ibfk_1` FOREIGN KEY (`property_id`) REFERENCES `tbl_property` (`property_id`),
  CONSTRAINT `tbl_disposal_ibfk_2` FOREIGN KEY (`office_id`) REFERENCES `tbl_office` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_disposal`
--

LOCK TABLES `tbl_disposal` WRITE;
/*!40000 ALTER TABLE `tbl_disposal` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_disposal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_instructors`
--

DROP TABLE IF EXISTS `tbl_instructors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_instructors` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `fullname` varchar(100) NOT NULL,
  `contact` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_instructors`
--

LOCK TABLES `tbl_instructors` WRITE;
/*!40000 ALTER TABLE `tbl_instructors` DISABLE KEYS */;
INSERT INTO `tbl_instructors` VALUES (2,'Jomar Gonzaga','09675454360','j@gmail.com');
/*!40000 ALTER TABLE `tbl_instructors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_invoice`
--

DROP TABLE IF EXISTS `tbl_invoice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_invoice` (
  `invoice_id` int(11) NOT NULL AUTO_INCREMENT,
  `order_date` date NOT NULL,
  `subtotal` double NOT NULL,
  `discount` double NOT NULL,
  `sgst` float NOT NULL,
  `cgst` float NOT NULL,
  `total` double NOT NULL,
  `payment_type` tinytext NOT NULL,
  `due` double NOT NULL,
  `paid` double NOT NULL,
  PRIMARY KEY (`invoice_id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_invoice`
--

LOCK TABLES `tbl_invoice` WRITE;
/*!40000 ALTER TABLE `tbl_invoice` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_invoice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_invoice_details`
--

DROP TABLE IF EXISTS `tbl_invoice_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_invoice_details` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `invoice_id` int(11) NOT NULL,
  `barcode` varchar(200) NOT NULL,
  `product_id` int(11) NOT NULL,
  `product_name` varchar(200) NOT NULL,
  `qty` int(11) NOT NULL,
  `rate` double NOT NULL,
  `saleprice` double NOT NULL,
  `order_date` date NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=73 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_invoice_details`
--

LOCK TABLES `tbl_invoice_details` WRITE;
/*!40000 ALTER TABLE `tbl_invoice_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_invoice_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_item`
--

DROP TABLE IF EXISTS `tbl_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_item` (
  `itemid` int(11) NOT NULL AUTO_INCREMENT,
  `item_name` varchar(255) NOT NULL,
  `category_id` int(11) NOT NULL,
  `date_added` date NOT NULL,
  PRIMARY KEY (`itemid`),
  KEY `category_id` (`category_id`),
  CONSTRAINT `tbl_item_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `tbl_category` (`catid`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_item`
--

LOCK TABLES `tbl_item` WRITE;
/*!40000 ALTER TABLE `tbl_item` DISABLE KEYS */;
INSERT INTO `tbl_item` VALUES (30,'Aircon',93,'0000-00-00'),(31,'bondpaper',94,'0000-00-00'),(32,'ballpen',94,'0000-00-00'),(34,'table',89,'0000-00-00'),(35,'Aircon',95,'0000-00-00'),(37,'com',97,'0000-00-00');
/*!40000 ALTER TABLE `tbl_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_office`
--

DROP TABLE IF EXISTS `tbl_office`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_office` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `parent_id` int(11) DEFAULT NULL,
  `office_name` varchar(255) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `contact` varchar(50) DEFAULT NULL,
  `max_capacity` int(11) NOT NULL DEFAULT 0,
  `instructor_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_parent_office` (`parent_id`),
  KEY `instructor_id` (`instructor_id`),
  CONSTRAINT `fk_parent_office` FOREIGN KEY (`parent_id`) REFERENCES `tbl_office` (`id`) ON DELETE CASCADE,
  CONSTRAINT `tbl_office_ibfk_1` FOREIGN KEY (`instructor_id`) REFERENCES `tbl_instructors` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_office`
--

LOCK TABLES `tbl_office` WRITE;
/*!40000 ALTER TABLE `tbl_office` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_office` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_organization`
--

DROP TABLE IF EXISTS `tbl_organization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_organization` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `org_name` varchar(255) NOT NULL,
  `president` varchar(200) NOT NULL,
  `org_logo` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_organization`
--

LOCK TABLES `tbl_organization` WRITE;
/*!40000 ALTER TABLE `tbl_organization` DISABLE KEYS */;
INSERT INTO `tbl_organization` VALUES (1,'JPCS','Jayvee Tukmol','uploads/org_logos/jpcs.jpg','2026-03-10 08:09:16'),(2,'The Navigators','','uploads/org_logos/navigators.jpg','2026-03-22 12:06:53'),(3,'Indak Silab','Arthur Nery','uploads/org_logos/indaksilab.jpg','2026-03-22 12:07:20');
/*!40000 ALTER TABLE `tbl_organization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_product`
--

DROP TABLE IF EXISTS `tbl_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_product` (
  `pid` int(11) NOT NULL AUTO_INCREMENT,
  `barcode` varchar(1000) NOT NULL,
  `name` varchar(100) NOT NULL,
  `brand` varchar(200) NOT NULL,
  `acquisition_type` enum('Purchased','Donated','','') NOT NULL,
  `category` varchar(200) NOT NULL,
  `description` varchar(200) NOT NULL,
  `stock` int(11) NOT NULL,
  `reorder_level` int(11) NOT NULL,
  `date_added` date DEFAULT NULL,
  `image` varchar(200) NOT NULL,
  PRIMARY KEY (`pid`)
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_product`
--

LOCK TABLES `tbl_product` WRITE;
/*!40000 ALTER TABLE `tbl_product` DISABLE KEYS */;
INSERT INTO `tbl_product` VALUES (71,'71111504','ballpen','hbw','Purchased','drinks','red',37,5,NULL,'69a16ea8c2c06.jpeg'),(72,'72112204','bondpaper','easy','Donated','drinks','long',95,5,NULL,'69a1704ca63d2.jpeg'),(73,'73160349','bondpaper','easy','Purchased','drinks','long',3,5,NULL,'69a1b2556ff59.jpeg'),(76,'BC-20260310-0003','ballpen','panda','Purchased','94','black',5,2,NULL,'69af81753784b.jpg'),(77,'BC-20260310-0004','ballpen','panda','Purchased','94','blue',9,5,NULL,'69afa32eca09a.jpg'),(78,'4801981116072','bondpaper','easy','Purchased','94','long',9,5,'2026-03-28','69c7b2a014f5c.jpg');
/*!40000 ALTER TABLE `tbl_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_property`
--

DROP TABLE IF EXISTS `tbl_property`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_property` (
  `property_id` int(11) NOT NULL AUTO_INCREMENT,
  `inventory_no` varchar(50) DEFAULT NULL,
  `serial_no` varchar(100) DEFAULT NULL,
  `item_name` varchar(255) DEFAULT NULL,
  `brand` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `acquisition_type` varchar(100) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `date_added` date DEFAULT NULL,
  `month_added` varchar(20) DEFAULT NULL,
  `year_added` varchar(10) DEFAULT NULL,
  `remarks` varchar(50) DEFAULT NULL,
  `office_id` int(11) DEFAULT NULL,
  `instructor_id` int(11) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `warranty_image` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`property_id`),
  UNIQUE KEY `inventory_no` (`inventory_no`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_property`
--

LOCK TABLES `tbl_property` WRITE;
/*!40000 ALTER TABLE `tbl_property` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_property` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_stockout`
--

DROP TABLE IF EXISTS `tbl_stockout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_stockout` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `office_id` int(11) NOT NULL,
  `instructor_id` int(50) NOT NULL,
  `quantity` int(11) NOT NULL,
  `stockout_date` datetime DEFAULT current_timestamp(),
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  KEY `office_id` (`office_id`),
  CONSTRAINT `tbl_stockout_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `tbl_product` (`pid`),
  CONSTRAINT `tbl_stockout_ibfk_2` FOREIGN KEY (`office_id`) REFERENCES `tbl_office` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_stockout`
--

LOCK TABLES `tbl_stockout` WRITE;
/*!40000 ALTER TABLE `tbl_stockout` DISABLE KEYS */;
INSERT INTO `tbl_stockout` VALUES (1,71,4,0,10,'2026-03-11 05:44:26','For Signing'),(2,71,4,0,10,'2026-03-11 05:47:01','For Signing'),(3,72,7,0,5,'2026-03-11 05:48:12','5 ream for enrollment'),(4,71,5,0,3,'2026-03-11 09:35:38',''),(5,78,4,2,1,'2026-03-28 19:09:49','for enrollment');
/*!40000 ALTER TABLE `tbl_stockout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_supplier`
--

DROP TABLE IF EXISTS `tbl_supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_supplier` (
  `sup_id` int(11) NOT NULL AUTO_INCREMENT,
  `supplier_name` varchar(200) NOT NULL,
  PRIMARY KEY (`sup_id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_supplier`
--

LOCK TABLES `tbl_supplier` WRITE;
/*!40000 ALTER TABLE `tbl_supplier` DISABLE KEYS */;
INSERT INTO `tbl_supplier` VALUES (18,'Randell'),(19,'Jerome'),(20,'Jaymae'),(21,'Jamber'),(23,'Darwin'),(24,'Erwin');
/*!40000 ALTER TABLE `tbl_supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_supply`
--

DROP TABLE IF EXISTS `tbl_supply`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_supply` (
  `supplyid` int(11) NOT NULL AUTO_INCREMENT,
  `supply_name` varchar(255) NOT NULL,
  `category_id` int(11) NOT NULL,
  `quantity` int(11) DEFAULT 0,
  `unit` varchar(50) DEFAULT 'pcs',
  `supplier` varchar(255) DEFAULT '',
  `date_added` date DEFAULT curdate(),
  `status` varchar(50) DEFAULT 'Available',
  PRIMARY KEY (`supplyid`),
  KEY `category_id` (`category_id`),
  CONSTRAINT `tbl_supply_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `tbl_category` (`catid`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_supply`
--

LOCK TABLES `tbl_supply` WRITE;
/*!40000 ALTER TABLE `tbl_supply` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_supply` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_taxdis`
--

DROP TABLE IF EXISTS `tbl_taxdis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_taxdis` (
  `taxdis_id` int(11) NOT NULL AUTO_INCREMENT,
  `sgst` float NOT NULL,
  `cgst` float NOT NULL,
  `discount` float NOT NULL,
  PRIMARY KEY (`taxdis_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_taxdis`
--

LOCK TABLES `tbl_taxdis` WRITE;
/*!40000 ALTER TABLE `tbl_taxdis` DISABLE KEYS */;
INSERT INTO `tbl_taxdis` VALUES (1,2.5,2.5,2);
/*!40000 ALTER TABLE `tbl_taxdis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_user`
--

DROP TABLE IF EXISTS `tbl_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_user` (
  `userid` int(10) NOT NULL AUTO_INCREMENT,
  `fullname` varchar(200) NOT NULL,
  `username` varchar(200) NOT NULL,
  `useremail` varchar(200) NOT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `course` varchar(100) DEFAULT NULL,
  `major` varchar(100) DEFAULT NULL,
  `year_level` varchar(20) DEFAULT NULL,
  `userpassword` varchar(255) NOT NULL,
  `role` varchar(50) NOT NULL,
  `photo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`userid`)
) ENGINE=InnoDB AUTO_INCREMENT=211 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_user`
--

LOCK TABLES `tbl_user` WRITE;
/*!40000 ALTER TABLE `tbl_user` DISABLE KEYS */;
INSERT INTO `tbl_user` VALUES (200,'Lea H','Lea','lea@gmail.com','09465728391',NULL,NULL,NULL,'12345','Admin','69c76daf15116.jpg'),(208,'Lea Hilario','Lea H.','l@gmail.com','09811876338',NULL,NULL,NULL,'Lea@12345','Admin','69c771c454036.jpeg'),(210,'Kian Hilario','kianhilario','kianhilario@gmail.com','09465728391','Bachelor of Science in Computer Science','','4th','Kianh@123','Student Assistant','699b02c357c57.jpg');
/*!40000 ALTER TABLE `tbl_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_user1`
--

DROP TABLE IF EXISTS `tbl_user1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbl_user1` (
  `userid` int(10) NOT NULL AUTO_INCREMENT,
  `fullname` varchar(200) NOT NULL,
  `username` varchar(200) NOT NULL,
  `useremail` varchar(200) NOT NULL,
  `userpassword` varchar(200) NOT NULL,
  `role` varchar(50) NOT NULL,
  PRIMARY KEY (`userid`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_user1`
--

LOCK TABLES `tbl_user1` WRITE;
/*!40000 ALTER TABLE `tbl_user1` DISABLE KEYS */;
INSERT INTO `tbl_user1` VALUES (24,'kuro david','kuro','kuro@gmail.com','1234','User'),(25,'randell royce sinfuego','randell','randell03@gmail.com','123','Admin');
/*!40000 ALTER TABLE `tbl_user1` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-28 20:34:36
